.ext-select-container {
    width: 100%;
    display:block;
    padding:0;
    min-height: 45px;
    position: relative;
}
.ext-select {
    width: 100%;
    display: block;
    border: 1px solid #999;

    font-family: Helvetica, Arial;
    position: absolute;
    background-color: #fff;
}
.ext-select .ext-select-input-container {
    display:inline-block;
    width: 100%;
}
.ext-select .ext-select-input {
    display:inline-block;
    width: calc(100% - 63px);

    border: none;
    border-right: 1px solid #999;
    padding: 10px 15px
}
.ext-select .ext-select-arrow {
    width:30px;
    height: 10px;
    margin-top: -4px;
    position:absolute;

    padding: 0;
    text-align:center;
    font-size: 27px;
    color: #999;

    cursor:pointer;
}
.ext-select .ext-select-clear {
    width:30px;
    height: 10px;
    margin-top: 8px;
    margin-left: -35px;
    position:absolute;

    padding: 0;
    text-align:center;
    font-size: 17px;
    color: #999;

    cursor:pointer;
}
.ext-select .ext-select-clear:hover {
    color:#ffb831
}
.ext-select .el-container {
    list-style:none;
    margin:0;
    padding:10px 0 0 0;
    max-height: 400px;
    overflow-y:auto;
    border-top: 1px solid #999;

    display:none;
}
.ext-select .el-container.el-container-expanded {
    display:block;
}
.ext-select .el {
    cursor: pointer;
    display:block;
    padding: 7px 15px;
    font-size:13px;
}
.ext-select .el-selected {
    background-color: #7ACDFF;
}
.ext-select .el-not-found {
    background-color: #ffb831;
}