html, body, .layout {
    height: 100%;
    margin: 0;
    padding: 0;
}
.layout {
    display: flex;
    align-items: stretch;

    font-family: Helvetica, Arial;
}
.layout-menu {
    display: block;
    float: left;
    width: 200px;

    border-right: 1px solid #999;
}
.layout-menu a {
    display: block;
    padding: 7px 15px;

    cursor: pointer;
    transition: .3s
}
.layout-menu a:hover {
    background: #7ACDFF;
}
.layout-menu a.active {
    border-right: 5px solid #7ACDFF;
}
.layout-container {
    padding: 15px 15px 15px 30px;
    width: calc(100% - 200px);
}
.layout-container .layout-tab {
    opacity: 1;
    transition: .6s;
}
.layout-container .layout-tab.hidden {
    opacity: 0;
    display: none;
    transition: .6s;
}

.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}