/*Form layout*/
.builder {
    display: block;
    width: 100%;
}
.editor-container {
    width: 300px;
    margin-left: 50px;
    float: left;
}
.form-container {
    width: calc(100% - 400px);
    float: left;
}

.form-option:after,
.builder:after {
    content: "";
    display: table;
    clear: both;
}
.form-option > div:first-child {
    width: 20%;
    margin: 10px 0 10px 0;
    float: left;
}
.form-option > div:last-child {
    width: 80%;
    margin: 10px 0 10px 0;
    float: left;
}
.form-option label {
    padding: 10px 15px;
    display: block;
    width: calc(100% - 30px);
    text-align: right;
}
.form-option input,
.form-option select {
    display:block;
    width: 80%;
    border: 1px solid #999;
    padding: 10px 15px;
    margin: 5px
}

.form-container {
    box-shadow: 0 0 30px 10px #f2f2f2 inset;
    padding: 10px 10px 10px 15px;
}
.form-container > form {
    display: block;
    margin: 30px;
}
/*Buttons*/
.form-button {
    display: inline-block;
    margin: 5px;
    padding: 7px 20px;
    text-transform: capitalize;
    text-decoration: none;
    border: 1px solid #4452c0;
    background: #5764c6;
    color: #fff;
    cursor: pointer;

    transition: .3s;
}
.form-button:hover {
    background: #3f4eba;
}
.form-button.btn-i {
    padding: 0;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Modals*/
.editor-modal {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;
    overflow-y: auto;
    background: transparent;

    transition: .6s
}
.editor-modal.open {
    top: 0;
    background: rgba(242, 242, 242, .7);
}
.editor-modal-container {
    width: 80%;
    margin: 80px auto 50px auto;
    padding: 0;

    background: #fff;
    box-shadow: 0 0 10px 2px #999;
}
.editor-modal-content,
.editor-modal-header,
.editor-modal-footer
{
    min-height: 50px;
    position: relative;
    padding: 10px 15px;
}
.editor-modal-header {
    padding: 0 15px;
    display: flex;
    align-items: center;
}
.editor-modal-header h3,
.editor-modal-header h2,
.editor-modal-header h1 {
    margin: 0;
}
.editor-modal-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    top: 0;
    right: 0;

    text-decoration: none;
    font-size: 28px;

    transition: .3s
}
.editor-modal-close:hover {
    text-shadow: 0 0 1px 1px #000;
}

